html
  head
    meta(charset='UTF-8')
    title Quản lý đề cương chi tiết
    link(rel='icon', href='img/mdb-favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.11.2/css/all.css')
    link(rel='stylesheet', href='/MDB-Free/css/bootstrap.min.css')
    link(rel='stylesheet', href='/MDB-Free/css/mdb.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style2.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css')

  body
    #two-navbar.two-navbar
      div(style='background: rgba(255, 255, 255, 0.7);')
        .container
          nav.navbar.navbar-expand.mx-auto
            ul.navbar-nav.align-items-center
              li.nav-item
                a.navbar-brand(href='#')
                  img(src='/image/logo-light.png', alt='logo')  
      nav.navbar.navbar-expand-md.navbar-dark.stylish-color(style='background: rgba(202, 201, 201, 0.7); ')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-333', aria-controls='navbarSupportedContent-333', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .container
          #navbarSupportedContent-333.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item(style="margin: 0 0 0 100px;")
                a.nav-link(href='/')
                  | Trang Chủ 
              if user
                li.nav-item
                  a.nav-link(href='/file/myFile/') Đề cương  
              if user
                if user[0].role == "Quản trị viên" || user[0].role == "Lãnh đạo khoa"
                  li.nav-item
                    a.nav-link(href='/file/findFile/') Thống kê 
              if user                 
                if user[0].role == "Quản trị viên"                  
                  li.nav-item.dropdown
                    a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | Quản trị viên
                    .dropdown-menu.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333').animated.fadeIn
                      a.dropdown-item(href='/users/signup') Tạo tài khoản
                      a.dropdown-item(href='/users/userList') Danh sách tài khoản
                      a.dropdown-item(href='/users/changeuser') Sửa tài khoản  
                      a.dropdown-item(href='/data/updateData') Cập nhật dữ liệu
                      a.dropdown-itema(href='/data/viewData') Xem dữ liệu  
              if !user
                li.nav-item
                  a.nav-link(href='/users/login') Đăng nhập                            
          #navbarSupportedContent-4.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              if user
                li.nav-item
                  a.nav-link(href='/users/logout') Đăng xuất

    block content

  footer.page-footer.font-small.pt-4.stylish-color-dark.mt-4
    .container.text-center.text-md-left
      .row
        .col-md-8.mt-md-0.mt-3
          h5.text-uppercase.font-weight-bold TRƯỜNG ĐẠI HỌC TRÀ VINH
          p
            | Số 126 Nguyễn Thiện Thành – Khóm 4, Phường 5, Thành phố Trà Vinh, Tỉnh Trà Vinh
            | Điện thoại: (+84).294.3855246 * Fax: (+84).294.3855217
            | Email: banbientapwebsite@tvu.edu.vn
            | Giấy phép trang Thông tin điện tử số 02/GP-TTĐT cấp ngày 18/12/2018, Sở TT&TT tỉnh Trà Vinh
        hr.clearfix.w-100.d-md-none.pb-3

    .footer-copyright.text-center.py-3
      | &copy; 2019 Copyright: VT

  
  script(type='text/javascript', src='/MDB-Free/js/popper.min.js')
  script(type='text/javascript', src='/MDB-Free/js/bootstrap.min.js')
  script(type='text/javascript', src='/MDB-Free/js/mdb.min.js')
  script(src='/script/script.js')
  script(src='/script/fillerPanel.js')
  script.
    new WOW().init();