extends ./layouts/commons.pug
block content
  #demo.carousel.slide(data-ride='carousel')
    ul.carousel-indicators
      li.active(data-target='#demo', data-slide-to='0')
      li(data-target='#demo', data-slide-to='1')
      li(data-target='#demo', data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        .overlay
        img.d-block.w-100.image-top(src='./image/background-1.jpg', alt='')
        .carousel-caption
          h5.animated.flipInY(style='animation-delay: 0.4s; animation-duration: 2s') Năm Học Mới Bắt Đầu...
          h1.animated.flipInY(style='animation-delay: 0.4s; animation-duration: 2s') Đăng kí ngay
          button.btn.btn-outline-light.animated.flipInY(style='animation-delay: 0.4s; animation-duration: 2s') Phương thức 1
          button.btn.btn-outline-light.animated.flipInY(style='animation-delay: 0.4s; animation-duration: 2s') Phương thức 2
          button.btn.btn-outline-light.animated.flipInY(style='animation-delay: 0.4s; animation-duration: 2s') Tìm hiểu thêm
      .carousel-item
        .overlay
        img.d-block.w-100(src='./image/tvu_trencao_dhtv.png', alt='')
        .carousel-caption
          h5.animated.fadeInLeft Trường đại học trà vinh
          p.animated.fadeInLeft(style='animation-delay: 0.4s; animation-duration: 2s') Mang Đến Môi Trường Đại Học Đỉnh Cao
          button.btn.btn-outline-light.animated.fadeInLeft Xem thêm
      .carousel-item
        .overlay
        img.d-block.w-100(src='./image/background-2.jpg', alt='')
        .carousel-caption
          h5.animated.slideInDown Bệnh Viện Trường Đại Học Trà Vinh
          p.animated.slideInDown Chất Lượng Cao
          button.btn.btn-outline-light.animated.fadeInLeft Tìm Hiểu Thêm
    a.carousel-control-prev(href='#demo', data-slide='prev')
      span.carousel-control-prev-icon
    a.carousel-control-next(href='#demo', data-slide='next')
      span.carousel-control-next-icon
  //------------Introduce------------
  section
    h3.h2-responsive.font-weight-bold.text-center.my-5 Chọn TVU để xây dựng tương lai, Tại sao?
    p.grey-text.text-center.w-responsive.mx-auto.mb-5
      | Trường đại học Trà Vinh, mang đến cơ hội học tập chất lượng cho cộng đồng
    .container
      .row.mx-1.justify-content-center
        .col-md-5.mb-4.wow.fadeInLeft
          .card.card-image(style='background-image: url(./image/introduce-libary.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;')
            .text-white.text-center.d-flex.align-items-center.rgba-black-strong.py-5.px-4
              div
                h6.purple-text
                  i.fas.fa-school
                  strong  Vật chất
                h3.card-title.py-3.font-weight-bold
                  strong Cơ sở vật chất
                p.pb-3
                  | Điều kiện, phương pháp day, và học chuyên dụng, hiện đại
        .col-md-5.mb-4.wow.rotateInDownRight
          .card.card-image(style='background-image: url(./image/introduce-teacher.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;')
            .text-white.text-center.d-flex.align-items-center.rgba-black-strong.py-5.px-4
              div
                h6.pink-text
                  i.fas.fa-chalkboard-teacher
                  strong  Giảng viên
                h3.card-title.py-3.font-weight-bold
                  strong Nhân viên nhà trường
                p.pb-3
                  | Lực lượng chuyên môn hùng mạnh và chuyên nghiệp, đảm bảo chất lượng dạy học
      .row.mx-1.justify-content-around   
        .col-md-4.mb-4.wow.rollIn
          .card.card-image(style='background-image: url(./image/introduce-learn.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;')
            .text-white.text-center.d-flex.align-items-center.rgba-black-strong.py-5.px-4
              div
                h6.lime-text
                  i.fas.fa-book-reader
                  strong  Giáo dục
                h3.card-title.py-3.font-weight-bold
                  strong Kiến thức
                p.pb-3
                  | Chương trình giáo dục đại học và sau đại học tiên tiến
        .col-md-4.mb-4.wow.zoomIn
          .card.card-image(style='background-image: url(./image/introduce-work.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;')
            .text-white.text-center.d-flex.align-items-center.rgba-black-strong.py-5.px-4
              div
                h6.teal-text
                  i.fas.fa-briefcase
                  strong  Việc làm
                h3.card-title.py-3.font-weight-bold
                  strong Cơ hội việc làm
                p.pb-3
                  | Tỉ lệ sinh viên có việc làm sau khi ra trường cao
        .col-md-4.mb-4.wow.fadeInRight
          .card.card-image(style='background-image: url(./image/introduce-school.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;')
            .text-white.text-center.d-flex.align-items-center.rgba-black-strong.py-5.px-4
              div
                h6.green-text
                  i.fas.fa-tree
                  strong  Môi trường
                h3.card-title.py-3.font-weight-bold
                  strong Môi trường học tập
                p.pb-3
                  | Môi trường rèn luyện tốt nhất, nhiều cây xanh sạch đẹp
  //------------------    
  .jumbotron.text-center.hoverable.p-4
    .container
      .row
        .col-md-4.offset-md-1.mx-3.my-3
          .view.overlay.wow.fadeInLeft
            img.img-fluid(src='./image/nu-sinh.jpg', alt='Sample image for first version of blog listing')
            a
              .mask.rgba-white-slight
        .col-md-7.text-md-left.ml-3.mt-3
          h3.h2-responsive.font-weight-bold.text-center.text-primary.wow.fadeInDown Sinh viên tốt nghiệp trường đại học Trà Vinh
          .mt-5
            .wow.zoomIn
              .font-weight-bold(href='#!')
                h5.h5.pb-1
                  i.fas.fa-thumbs-up
                  |  Chuyên môn giỏi
              p.font-weight-normal
                | Lý thuyết vững vàng, thực hành thành thạo, 100% sinh viên tốt nghiệp TVU có việc làm trong năm đầu tiên.
            .wow.fadeInRight  
              .font-weight-bold(href='#!')
                h5.h5.pb-1
                  i.fas.fa-thumbs-up
                  |  Kỹ năng đa dạng
              p.font-weight-normal
                | Phát triển tối đa năng lực bản thân với các kỹ năng mềm cần thiết: tiếng Anh (IELTS 5.0), Tin học (MOS 750), Sinh tồn (bơi 50m), ...
            .wow.slideInUp
              .font-weight-bold(href='#!')
                h5.h5.pb-1
                  i.fas.fa-thumbs-up
                  |  Đạo đức chuẩn mực
              p.font-weight-normal
                | Rèn luyện trong môi trường nghiêm túc: Hiếu thảo với cha mẹ, Thượng tôn pháp luật, Tinh thần phụng sự cộng đồng.           

  script(src='https://code.jquery.com/jquery-3.3.1.js')

