extends ../layouts/commons.pug
block content
  .container
    if errors
      each error in errors
        .alert.alert-danger= error
    form(action="/users/changeuser", method="POST").was-validated
      div.form-group
        label(for="magvchange") Họ và tên giảng viên cần thay đổi:
        select(name="magvchange").form-control.mb-2.mr-sm-2
          each user in users
            option(value= user.magv)= user.tengv
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này    
      div.form-group
        label(for="tengv") Họ và tên giảng viên:
        input(type="text", name="tengv", placeholder='Nhập họ và tên', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này
      div.form-group
        label(for="magv") Mã giảng viên:
        input(type="text", name="magv", placeholder='Nhập mã giảng viên', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này        
      div.form-group
        label(for="sdt") Số điện thoại:
        input(type="text", name="sdt", placeholder='Nhập số điện thoại', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này
      div.form-group
        label(for="email") Email:
        input(type="text", name="email", placeholder='Nhập mail', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này
      div.form-group
        label(for="password") Password:
        input(type="password", name="password", placeholder='Nhập password', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này    
      div.form-group
        label(for="passwordConf") Xác nhận password:
        input(type="password", name="passwordConf", placeholder='Xác nhận password', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này  
      div.form-group
        label(for="knmabm") Tên bộ môn:
        select(name="knmabm").form-control.mb-2.mr-sm-2
          if bomon
            each bomons in bomon
              option(value= bomons.mabm)= bomons.tenbm
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này 
      .form-group
        label(for="role") Vai Trò:
        select(name="role").form-control
          option(value="user") User
          option(value="admin") Admin
      button.btn.btn-primary Đăng kí