extends ../layouts/commons.pug
block content
  div.container
    if errors
      each error in errors
        .alert.alert-danger= error
    form.was-validated(action='/users/login', method="POST")
      .form-group
        label(for="email") Email:
        .input-group-prepend
          input(type="text", name="email", placeholder='Nhập email', required).form-control
          .input-group-text @tvu.edu.vn
      .form-group
        label(for='password') Password:
        input#password.form-control(type='password', placeholder='Enter password', name='password', required='')
      button.btn.btn-primary(type='submit') Đăng nhập