extends ../layouts/commons.pug
block content
  .container.mt-5
    .row
      .col-md-6.ml-auto.mr-auto
        .card
          h5.card-header.mdb-color.white-text.text-center.py-4
            strong Đăng nhập
          // Card content
          .card-body.px-lg-5
            // Form
            form.text-center.was-validated(style='color: #757575;', action='/users/login', method="POST")
              p Chào mừng đến với hệ thống quản lý đề cương chi tiết
              if errors
                each error in errors
                  .alert.alert-danger
                    span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                    = error                
              // Name
              .md-form.mt-3
                input#materialSubscriptionFormPasswords.form-control(type="text", name="email", value=values ? values.email : "", required='')
                label(for='email') Email:
              // E-mai
              .md-form
                input#materialSubscriptionFormEmail.form-control(type='password', name='password', required='')
                label(for='password') Mật khẩu:
              // Sign in button
              button.btn.btn-mdb-color.btn-block(type='submit') Đăng nhập 


