extends ../layouts/commons.pug
block content
  .container
    if errors
      each error in errors
        .alert.alert-danger= error
    form(action="/users/signup", method="POST").was-validated
      div.form-group
        label(for="tengv") Họ và tên giáo viên:
        input(type="text", name="tengv", placeholder='Nhập họ và tên', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này
      div.form-group
        label(for="sdt") sdt:
        input(type="text", name="sdt", placeholder='Nhập họ và tên', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này
      div.form-group
        label(for="email") Email:
        input(type="text", name="email", placeholder='Nhập mail', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này
      div.form-group
        label(for="password") Password:
        input(type="password", name="password", placeholder='Nhập password', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này    
      div.form-group
        label(for="passwordConf") Xác nhận password:
        input(type="password", name="passwordConf", placeholder='Xác nhận password', required).form-control
        div.valid-feedback Tốt.
        div.invalid-feedback Xin điền trường này  
      .form-group
        label(for="role") Vai Trò:
        select(name="role").form-control
          option(value="user") User
          option(value="admin") Admin
      button.btn.btn-primary Đăng kí